@model OnlineVoteApplication.Models.Voter

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_VoterLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Voter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValidUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValidUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApprovedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApprovedUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
